#app-features{
    .container{
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img title"
                             "img content";

        #app-features-phone {
            grid-area: img;
            width: 60%;
            height: auto;
        } 

        .title {
            grid-area: title;
        }

        .content {
            grid-area: content;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }

    }
}