#app-features{


    .container{
        display: none;
        // grid-template-columns: 1fr auto;
        // grid-template-areas:"img" "text-and-icons";


        .text-and-icons{




            .icon-grid{

                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

            }
        }

    }


}

#test{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img" "text-and-icons";
}