#subscribe{
    margin-bottom: 50px;
    .container {
        .subscribe-container {
            background-color: $gray-100;
            padding: 70px;
            .content{
                display: flex;
                align-items: center;
                h4{
                    margin-left: 60px;
                }
                .input{
                    position: relative;

                    form{
                        display: flex;
                        margin-left: 60px;
                        input{
                            border: 1px solid var(--Gray-400, #D4D7E5);
                            background: var(--White, #FFF);
                            // background: black;
                            padding-left: 40px;
                            border-top-left-radius: 6px;
                            border-bottom-left-radius: 6px;
                            width: 240px;
                            color: var(--Gray-500, #B4B7C9);
                            font-feature-settings: 'clig' off, 'liga' off;

                            /* Body/M */
                            font-family: Manrope;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 160%; /* 25.6px */
    
                        }
                        i{
                            
                            position: absolute;
                            top: 57%;
                            left: 70px; /* Justera horisontellt läge för ikonen */
                            transform: translateY(-50%);
                        }
    
                        button{
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            margin-left: -30px;
                            padding: 20px;
                    
                            
    
                            
                        }
                    }
                }




            }
        }
    }
}




