#transferfeatures{
    margin-top: 100px;
    .container{
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "text-and-buttom" "img"
                                 "img" "text-and-button";

            .text-and-button{
                width: 500px;
                .check-img-and-text{
                    display: grid;
                    grid-template-columns: auto 1fr;
                    img{
                        margin: 20px ;
                    }
                }
                .text-and-icons-transfers{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                 
                    width: 500px;
                    .btn{
                        margin-left: -10px;

                    }
              

                }
                
                .btn{
                    margin-left: 20px;
                    width: 100px;
                    padding-left: 15px;
                }
            }
        }
    }
}







